.contents {
    padding: 20px 40px;
}

.btn {
    color: white;
    border-radius: 20px;
    width: 120px;
    padding: 8px;
    font-size: 12px;
}

.inp {
    width: 200px;
    height: 30px;
    // border: 1px solid #000000d2;
}