.sidebar {
  width: 200px;
  font-size: 14px;
  color: #583d89;
  background: #c7c9cc;
  padding: 20px;
  height: 100vh;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 20px 0;
      cursor: pointer;
    }
  }
}

.logo {
  height: 25px;
}